.read {
    overflow-y: auto !important;

    button {
        text-align: center;
        color: white;
        background-color: dimgray;
        border-color: transparent;
        font-weight: bold;
        border-radius: 10px;
        font-size: 0.5rem;
    }
}

@media (max-width: 770px) {
    .read {
        button {
            background-color: transparent;
            margin-left: -0.8rem;
            letter-spacing: 0.35rem;
        }
    }    
}

@media (max-width: 300px) {
    .read {
        button {
            margin-left: -1.4rem;
            letter-spacing: 0.35rem;
        }
    }    
}